.darken-image {
    background-color: gray;
    filter: brightness(10%);
    animation-name: darken;
    animation-duration: 1s;
}

@keyframes darken {
    from {
        filter: brightness(90%)
    }
    to {
        filter: brightness(10%)
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 100
    }
}
